<form class="{{cssClass}}" autocomplete="off">
    <!-- <section class="sheet-upper"> -->
    <!-- HEADER -->
    {{#if isCondensedView}}
        {{> "modules/lootsheetnpc5e/template/partials/header/condensed.hbs"}}
    {{else}}
        {{> "modules/lootsheetnpc5e/template/partials/header/default.hbs"}}
    {{/if}}                         

    <nav class="sheet-navigation tabs flexrow" data-group="primary">
        <a class="item active" data-tab="inventory">{{localize "DND5E.Inventory"}}</a>
        {{#ifeq lootsheettype "Merchant"}}
        <a class="item active" data-tab="actions">{{localize "DND5E.ActionPl"}}</a>
        {{/ifeq}}
        <a class="item" data-tab="biography">{{localize "DND5E.Biography"}}</a>
    </nav>
    <section class="sheet-lower flexrow">
        <!-- SIDEBAR for GM -->
        {{#if isGM}}
            {{> "modules/lootsheetnpc5e/template/partials/sidebar/sidebar.hbs"}}
        {{/if}}
        
        <!-- BODY -->
        <section class="sheet-content content">
            <section class="sheet-body">
                <div class="tab" data-tab="biography" data-group="primary">
                    {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
                </div>

                <div class="tab" data-tab="inventory" data-group="primary">
                    <!-- FEATURES -->
                    <div class="features" data-group="primary" data-tab="features">                        
                        {{#if isCondensedView}}
                            {{> "modules/lootsheetnpc5e/template/partials/list/condensed.hbs"}}
                        {{else}}
                            {{> "modules/lootsheetnpc5e/template/partials/list/default.hbs"}}
                        {{/if}}
                    </div>
                </div>
            </section>
        </section>
    </section>
</form>
