<form
    class="{{cssClass}} sheetgrid {{#if actor.flags.lootsheetnpc5e.sheettint.style}}styled {{actor.flags.lootsheetnpc5e.sheettint.style}}{{/if}} {{#if actor.flags.lootsheetnpc5e.darkMode}}darkMode{{/if}}"
    autocomplete="off" data-sheettint-value="{{actor.flags.lootsheetnpc5e.sheettint.value}}"
    data-sheettint-alpha="{{actor.flags.lootsheetnpc5e.sheettint.alpha}}"
    {{#if actor.flags.lootsheetnpc5e.sheettint.value}}
        style="
        --sheettint: {{hexToRGB actor.flags.lootsheetnpc5e.sheettint.value actor.flags.lootsheetnpc5e.sheettint.alpha}};
        --avatartint: {{hexToRGB actor.flags.lootsheetnpc5e.avatartint.value actor.flags.lootsheetnpc5e.avatartint.alpha}};
        --blendmode: {{actor.flags.lootsheetnpc5e.sheettint.blendmode}};
        {{#ifeq actor.flags.lootsheetnpc5e.sheettint.style 'custom'}}
        --custom-background: url(/{{actor.flags.lootsheetnpc5e.custom.background}});
        {{/ifeq}}
        --style: {{#if actor.flags.lootsheetnpc5e.sheettint.style}}{{actor.flags.lootsheetnpc5e.sheettint.style}} ohh{{else}}none{{/if}};
    {{/if}}">
    <!-- <section class="sheet-upper"> -->

    <!-- HEADER -->
    {{> "modules/lootsheetnpc5e/templates/partials/header.hbs"}}

    <!-- BODY -->
    {{> "modules/lootsheetnpc5e/templates/partials/body.hbs"}}

    <!-- FOOTER -->
    {{> "modules/lootsheetnpc5e/templates/partials/footer.hbs"}}
</form>