<form class="lsn-dialog-form {{flags.lootsheetnpc5e.sheettint.style}}">
    <main>
        <section class="flexcol" data-modifier-type="sell">
            <header>
                <h3>Sell Modifier <small> applied when player buys from NPC.</small></h3>                
            </header>            
            <div class="flexrow">
                <div class="form-input">
                    <input type="number" name="flags.lootsheetnpc5e.priceModifier.sell"
                        min="{{this.minModifier}}"
                        max="{{this.maxModifier}}" step="5" value="{{this.flags.lootsheetnpc5e.priceModifier.sell}}"
                        style="width: 100px; border-radius: 0.5em; border: 1px solid black; text-align: center; padding: 0.5em; color: #eee; background-color: #333;"
                        required> %
                    </div>
                    <div class="form-input">
                        <input class="form-control" name="flags.lootsheetnpc5e.priceModifier.sell" type="range" min="{{this.minModifier}}" step="5" max="{{this.maxModifier}}" value="{{this.flags.lootsheetnpc5e.priceModifier.sell}}" class="slider" required>
                    </div>
                </div>
            </div>
        </section>
        <section class="flexcol" data-modifier-type="buy">
            <label>Buy Modifier <small> applied when NPCs buy from players.</small></label>
            <div class="flexrow">
                <div class="form-input">
                    <input type="number" name="flags.lootsheetnpc5e.priceModifier.buy" min="1" max="100" step="1" value="{{this.flags.lootsheetnpc5e.priceModifier.buy}}"
                            style="width: 100px; border-radius: 0.5em; border: 1px solid black; text-align: center; padding: 0.5em; color: #eee; background-color: #333;"
                        required> %
                </div>
                <div class="form-input"></div>
                    <input 
                        class="form-control"
                        name="flags.lootsheetnpc5e.priceModifier.buy"
                        type="range" min="1" max="120" step="1" value="{{this.flags.lootsheetnpc5e.priceModifier.buy}}" class="slider" required>
                </div>
            </div>
        </section>
    </main>
    <footer class="flexrow">
        <button type="submit" name="submit" class="btn btn-primary">{{localize 'Update'}}</button>
        <button type="button" name="reset" lass="btn btn-secondary" data-dismiss="modal">{{localize 'Cancel'}}</button>
    </footer>
</form>