<form data-rule-id="{{this.rule.id}}">
    <header>
        <h2>{{#if this.rule.id}}Edit{{else}}Add{{/if}} new filter ruleset</h2>
    </header>
    <main>
        <header>
            <div class="flexrow">
                {{log this}}
                <div class="form-group">
                    <label>Rulename*</label>
                    <div class="form-fields">
                        <input type="text" name="{{this.namespace}}.{{this.key}}.name" placeholder="name" required
                            value={{this.rule.name}}>
                    </div>
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input type="checkbox" name="{{this.namespace}}.{{this.key}}.state" {{#if this.rule.state}}checked{{/if}}>
                </div>
            </div>
            <div class="form-group textrow">
                <label>{{localize 'Rolltable'}}</label>
                <div class="form-fields">
                    {{#select this.rule.rolltable }}
                        <select class="rolltable" name="{{this.namespace}}.{{this.key}}.rolltable">
                            <option value="null"><em>Select rolltable</em></option>
                            {{> "modules/lootsheetnpc5e/templates/partials/settings/dropdown_options.hbs" data=this.rolltables}}
                        </select>
                    {{/select}}
                </div>
            </div>
            <div class="form-group">
                <em>and / or </em>
                <input type="text" name="{{this.namespace}}.{{this.key}}.tags"
                    placeholder="comma seperated better-rolltable tags" value="{{this.rule.value}}">
            </div>
        </header>
        <fieldset>
            <legend>Filters</legend>
            <main id="filters">
                {{#if this.rule.filters}}
                    {{#each this.rule.filters as |filter index|}}
                        {{> "modules/lootsheetnpc5e/templates/partials/settings/filters.hbs" namespace=../this.namespace key=../this.key filter=filter index=index}}
                    {{/each}}
                {{else}}
                    {{> "modules/lootsheetnpc5e/templates/partials/settings/filters.hbs" namespace=this.namespace key=this.key index=0}}
                {{/if}}
            </main>
            <footer class="actions">
                <button type="button" data-action="add" data-settings-key="{{this.key}}">
                    <i class="fas fa-plus" style="pointer-events: none;"></i>
                </button>
            </footer>
        </fieldset>
    </main>
    <footer class="sheet-footer flexcol">
        <div class="flexrow">
            <button type="submit" name="submit">
                <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
            </button>
        </div>
        <!--aside class="dropzone" dropzone="true">
            <div class="form-group">
                <label>{{localize 'Test Rule against an Actor'}}</label>
            </div>
        </aside-->
    </footer>
</form>