<div class="form-group spaced" data-filter-index={{index}}>
    <input class="data-path-input" type="text"
        name="{{this.namespace}}.{{this.key}}.filters.{{index}}.filterpath"
        placeholder="{{localize 'path'}}"
        value="{{filter.filterpath}}">
        {{#select filter.comparison}}
            <select name="{{this.namespace}}.{{this.key}}.filters.{{index}}.comparison">
                <option value="=="><span title="equals">==</span></option>
                <option value="<="><span title="smaller or equal">&lt;=</span></option>
                <option value=">="><span title="bigger or equal">&gt;=</span></option>
                <option value="!="><span title="is not">!=</span></option>
                <option value="unique"><span title="unique">unique</span></option>
            </select>
        {{/select}}
    <input type="text" name="{{this.namespace}}.{{this.key}}.filters.{{index}}.value" value="{{filter.value}}">
    <div class="actions">
        <button data-action="delete"><i class="fas fa-trash"></i></button>
    </div>
</div>

