{{#if (eq this.type 'Object')}}
    {{> "modules/lootsheetnpc5e/templates/partials/settings/seederFilters.hbs" }}
{{else}}
    <div class="form-group">
    <label>{{this.name}}</label>
    <div class="form-fields">
        {{#if this.isCheckbox}}
            <input type="checkbox" name="{{this.namespace}}.{{this.key}}" data-default="{{this.default}}"
                data-dtype="Boolean" {{checked this.value}} />

        {{else if this.isSelect}}
            <select name="{{this.namespace}}.{{this.key}}" data-default="{{this.default}}" data-dtype="String">
                {{#select this.value}}
                    <option value="0">-- Select an option --</option>
                    {{#each this.choices as |array group|}}
                        <optgroup label="{{group}}">
                            {{#each array}}
                                <option value="{{this.uuid}}">{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/each}}
                {{/select}}
            </select>

        {{else if this.isRange}}
            <input type="range" name="{{this.namespace}}.{{this.key}}" data-default="{{this.default}}"
                data-dtype="Number" value="{{ this.value }}" min="{{ this.range.min }}" max="{{ this.range.max }}"
                step="{{ this.range.step }}" />
            <span class="range-value">{{this.value}}</span>

        {{else}}
            <input type="text" name="{{this.namespace}}.{{this.key}}" data-default="{{this.default}}"
                value="{{this.value}}" data-dtype="{{this.type}}" />
        {{/if}}
    </div>
    <p class="notes">{{this.hint}}</p>
    </div>
{{/if}}