<section class="sheet-sidebar sidebar hidden">
    <!-- GM SETTINGS -->
    <section class="gm-settings" data-group="sidebar" data-tab="gm-settings">
        <h3 class="gm-section">GM Settings</h3>
        <h3 class="gm-header">
            <i class="fas fa-id-card"></i> {{localize "lsnpc.infoboxes.lootsheettype.title"}}
            <aside class="infobox-wrapper">
                <i class="fas fa-info-circle help"></i>
                <div class="sheet-infobox hidden">
                    {{{localize "lsnpc.infoboxes.lootsheettype.content"}}}
            </aside>
        </h3>
        <div class="ls-gm-section sheet-types">
            <div class="flexrow">
                <div class="flexcol">
                    <h4 class="sheet-name">Type of sheet: </h4>
                </div>
                <div class="flexcol">
                    <select class="sheet-type" name="data.flags.lootsheetnpc5e.lootsheettype">
                        {{#select data.flags.lootsheetnpc5e.lootsheettype}}
                            <option value="Loot">{{localize "lsnpc.sheettypes.loot"}}</option>
                            <option value="Merchant">{{localize "lsnpc.sheettypes.merchant"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>

        {{> "modules/lootsheetnpc5e/template/partials/sidebar/gm-settings/permissions.hbs"}}

        <h3 class="gm-header"><i class="fas fa-balance-scale"></i> Inventory Settings
            <aside class="infobox-wrapper">
                <i class="fas fa-info-circle help"></i>
                <div class="sheet-infobox hidden">
                    Replace this merchant's inventory with a (random) number of items from a rolltable.
                    <dl>
                        <dt>Rolltable</dt>
                        <dd>The rolltable to be used.<br />
                            If you have <em>Loot Populator NPC 5e</em> installed.
                            This rolltable will also be used (instead of rules/defaults).</dd>
                        <dt>Rolltable quantity formula</dt>
                        <dd>How often will the rolltable be used to roll for items. For example <em>1d12</em>.
                        </dd>
                        <dt>Item quantity formula</dt>
                        <dd>How many Items should be added to the inventory. For example <em>2d3</em>.</dd>
                        <dt>Limit quantity formula</dt>
                        <dd>How many <em>of each</em> Item should be added at most. For example <em>8</em> or
                            <em>3d8</em>.
                        </dd>
                    </dl>
                </div>
            </aside>
        </h3>
        <div class="inventory-settings">
            <div class="flexrow">
                <div class="flexcol">
                    <h4>Rolltable:</h4>
                </div>
                <div class="flexcol">
                    <select class="sheet-rolltable" name="data.flags.lootsheetnpc5e.rolltable">
                        {{#select data.flags.lootsheetnpc5e.rolltable}}
                            <option value="">None selected</option>
                            {{#each rolltables as |array group|}}
                                <optgroup label="{{group}}">
                                    {{#each array}}
                                        <option value="{{this.uuid}}" data-label="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                </optgroup>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexcol">
                    <h4>Rolltable Qty Formula: </h4>
                </div>
                <div class="flexcol"><input name="data.flags.lootsheetnpc5e.shopQty" type="text" data-dtype="String"
                        placeholder="e.g. 1d20" value="{{data.flags.lootsheetnpc5e.shopQty}}" /></div>
            </div>
            <div class="flexrow">
                <div class="flexcol">
                    <h4>Item Qty Formula: </h4>
                </div>
                <div class="flexcol"><input name="data.flags.lootsheetnpc5e.itemQty" type="text" data-dtype="String"
                        placeholder="e.g. 1d4" value="{{data.flags.lootsheetnpc5e.itemQty}}" /></div>
            </div>
            <div class="flexrow">
                <div class="flexcol">
                    <h4>Limit Qty Formula: </h4>
                </div>
                <div class="flexcol"><input name="data.flags.lootsheetnpc5e.itemQtyLimit" type="text"
                        data-dtype="String" placeholder="e.g. 10" value="{{data.flags.lootsheetnpc5e.itemQtyLimit}}" />
                </div>
            </div>
            <div class="flexrow">
                <div class="flexcol">
                    <h4>Clear Inventory
                        <aside class="infobox-wrapper">
                            <i class="fas fa-info-circle help"></i>
                            <div class="sheet-infobox hidden">
                                ⚠️If the tokens actor is <em>not</em> a merchant you typically don't want to
                                clear the inventory.
                            </div>
                        </aside>
                    </h4>
                </div>
                <div class="flexcol"><input name="data.flags.lootsheetnpc5e.clearInventory" type="checkbox"
                        data-dtype="boolean" {{#if data.flags.lootsheetnpc5e.clearInventory}}checked{{/if}} />
                </div>
            </div>
        </div>
        <button type="button" class="update-inventory" type="update-inventory" name="update-inventory" value="1"><i
                class="fas fa-balance-scale"></i>Update Inventory</button>
    </section>
</section>
<i class="fas fa-chevron-right collapser" type="checkbox" title="Toggle GM Settings"
    onclick="this.previousElementSibling.classList.toggle('hidden'); this.classList.toggle('fa-chevron-right', 'fa-chevron-left')"></i>
