<footer class="sheet-footer">
    {{#ifeq lootsheettype "Loot"}}
        {{#if lootAll}}
            <button type="button" class="loot-all lsnpc-action-link" name="loot-all" data-get-all="true"
                data-action="lootAll" title="{{localize 'lsnpc.buttons.loot.items.all.title'}}">
                <i class="fas fa-gem"></i>
                <span class="buttontext">{{localize 'lsnpc.buttons.loot.items.all.label'}}</span>
            </button>
        {{/if}}
        {{#if distributeCoins}}
            <button type="button" class="split-currency lsnpc-action-link" data-action="distributeCoins" type="split-coins" name="split-coins"
                value="1" data-action="distributeCoins"
                title="{{localize 'lsnpc.buttons.loot.currency.split.title' n=actor.flags.lootsheetnpc5e.observerCount }}">
                <i class="fas fa-users"></i>
                <i class="fas fa-hand-holding-usd"></i>
                <span class="buttontext">{{localize 'lsnpc.buttons.loot.currency.split.label'}}</span>
            </button>
        {{/if}}
        {{#if lootCurrency}}
            <button type="button" class="loot-currency lsnpc-action-link" data-action="lootCurrency"
                title="{{localize 'lsnpc.buttons.loot.currency.single.title'}}">
                <i class="fas fa-user"></i>
                <i class="fas fa-hand-holding-usd"></i>
                <span class="buttontext">{{localize 'lsnpc.buttons.loot.currency.single.label'}}</span>
            </button>
        {{/if}}
    {{/ifeq}}
    {{#if isGM}}
        {{#ifeq lootsheettype "Merchant"}}
            <button type="button"
                id="price-modifier"
                class="price-modifier lsnpc-action-link"
                name="price-modifier"
                data-action="priceModifier"
                value="{{actor.flags.lootsheetnpc5e.priceModifier}}">
                <i class="fa fa-balance-scale"></i>
                <span class="buttontext">{{localize 'lsnpc.buttons.merchant.gm.price.label'}}</span>
            </button>
        {{/ifeq}}
    {{/if}}
</footer>