<header class="sheet-header">
    <div class="sheet-profile-img">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </div>

    <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
    </h1>

    <div class="charbutton">
        {{#ifeq lootsheettype "Loot"}}
            {{#if lootAll}}
                <button type="button" class="loot-all" name="loot-all" value="1" title="Loot all items">
                    <i class="fas fa-gem"></i>
                    <span class="buttontext">{{localize "Loot All"}}</span>
                </button>
            {{/if}}

            <button type="button" class="split-currency" type="split-coins" name="split-coins" value="1"
                title="Loot Coins | Share between {{actor.flags.loot.observerCount}} in Party">
                <i class="fas fa-users"></i>
                <i class="fas fa-hand-holding-usd"></i>            
                <span class="buttontext">{{localize "Share Coins"}}</span>
            </button>

            {{#if lootCurrency}}
                <button type="button" class="loot-currency">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-hand-holding-usd"></i>
                    </span>
                    <span class="buttontext">{{localize "Loot Coins"}}</span>
                </button>
            {{/if}}
        {{/ifeq}}
        
        {{#if isGM}}
            {{#ifeq lootsheettype "Merchant"}}                
                <button type="button" class="price-modifier" type="price-modifier" name="price-modifier" value="">
                    <i class="fa fa-balance-scale"></i>
                    <span class="buttontext">{{localize "Price Modifier"}}</span>
                </button>                    
            {{/ifeq}}
        {{/if}}
        
    </div>
</header>