<ul class="items-list inventory-list">
    {{log actor}}
    {{#each actor.lootableItems as |section sid|}}
        {{#each section.items as |item iid|}}
            <li class="item lsnpc-action-link rarity-{{#if item.data.rarity}}{{item.data.rarity}}{{else}}common{{/if}}"
                {{#ifeq ../../lootsheettype "Merchant"}}
                    title="Buy" data-action="buyItem" data-get-all="false"
                {{/ifeq}}
                {{#ifeq ../../lootsheettype "Loot"}}
                    title="Buy Stack" data-action="lootItem" data-get-all="false"
                {{/ifeq}}

                data-item-id="{{item._id}}" data-item-quantity="{{item.data.quantity}}"
                data-item-weight="{{lootsheetweight item.data.weight}}{{lootsheetstackweight item.data.weight item.data.quantity}}"
                data-item-weight-hanging="{{lootsheetweight item.data.weight}}{{lootsheetstackweight item.data.weight item.data.quantity}}"
                data-item-description="{{item.data.description.value}}" data-item-name="{{item.data.name}}"
                draggable="true">
                <div class="image" style="background-image: url({{item.img}})">
                    <span class="quantity">{{item.data.quantity}}</span>
                </div>
            </li>
        {{/each}}
    {{/each}}
</ul>