<ul class="items-list inventory-list">
    {{#each inventoryData as |section sid|}}
        {{#each section.items as |item iid|}}
            <li class="item rarity-{{#if item.data.rarity}}{{item.data.rarity}}{{else}}common{{/if}}"
                {{#ifeq ../../lootsheettype "Merchant"}}
                    title="{{item.name}}" data-action="stageItem" data-get-all="false"
                {{/ifeq}}
                {{#ifeq ../../lootsheettype "Loot"}}
                    title="{{item.name}}" data-action="lootItem" data-get-all="false"
                {{/ifeq}}
                {{log item}}
                data-uuid="{{item.uuid}}"
                data-id="{{item._id}}"
                data-quantity="{{item.data.quantity}}"
                data-price="{{item.data.price}}"
                data-weight="{{lootsheetweight item.data.weight}}{{lootsheetstackweight item.data.weight item.data.quantity}}"
                data-weight-hanging="{{lootsheetweight item.data.weight}}{{lootsheetstackweight item.data.weight item.data.quantity}}"
                data-description="{{item.description}}" data-name="{{item.name}}"
                draggable="true"
                style="background-image: url({{item.img}})">
            </li>
        {{/each}}
    {{/each}}
</ul>