<h3 class="gm-header"><i class="fas fa-balance-scale"></i> Inventory Update
    <aside class="infobox-wrapper">
        <i class="fas fa-info-circle help"></i>
        <div class="sheet-infobox hidden">
            Replace this merchant's inventory with a (random) number of items from a rolltable.
            <dl>
                <dt>Rolltable</dt>
                <dd>The rolltable to be used.<br />
                    This rolltable will also be used (instead of rules/defaults).</dd>
                <dt>Rolltable quantity formula</dt>
                <dd>How often will the rolltable be used to roll for items. For example <em>1d12</em>.
                </dd>
                <dt>Item quantity formula</dt>
                <dd>How many Items should be added to the inventory. For example <em>2d3</em>.</dd>
                <dt>Limit quantity formula</dt>
                <dd>How many <em>of each</em> Item should be added at most. For example <em>8</em> or
                    <em>3d8</em>.
                </dd>
            </dl>
        </div>
    </aside>
</h3>
<section class="inventory-settings">
    <div class="textflex flexrow">
        <span>
            Roll on
        </span>
        <select class="sheet-rolltable" name="data.flags.lootsheetnpc5e.rolltable">
            {{#select data.flags.lootsheetnpc5e.rolltable}}
                <option value="">None selected</option>
                {{#each rolltables as |array group|}}
                    <optgroup label="{{group}}">
                        {{#each array}}
                            <option value="{{this.uuid}}" data-label="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </optgroup>
                {{/each}}
            {{/select}}
        </select>
        <span> for </span>
        <input name="data.flags.lootsheetnpc5e.shopQty" type="text" data-dtype="String" placeholder="e.g. 1d20"
            value="{{data.flags.lootsheetnpc5e.shopQty}}" title="Rolltable Qty Formula" />
        <span>
            {{#uneq data.flags.lootsheetnpc5e.shopQty 1}}× times{{/uneq}}{{#ifeq data.flags.lootsheetnpc5e.shopQty
                1}}time{{/ifeq}}.
        </span>
    </div>
    <div class="textflex flexrow">
        <span>
            And add
        </span>
        <input name="data.flags.lootsheetnpc5e.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4"
            value="{{data.flags.lootsheetnpc5e.itemQty}}" />
        <span> items (max </span>
        <input name="data.flags.lootsheetnpc5e.itemQtyLimit" type="text" data-dtype="String" placeholder="e.g. 10"
            value="{{data.flags.lootsheetnpc5e.itemQtyLimit}}" />
        <span>).</span>
    </div>
    <div class="textflex flexrow">
        Also add <input name="data.flags.lootsheetnpc5e.currencyFormula" type="text" data-dtype="String"
            placeholder="e.g.: (11d+1)*10[gp], (11d+1)*10[gp]" value="{{data.flags.lootsheetnpc5e.currencyFormula}}" />
        currency.
    </div>
    <div class="flexrow">
        <span>When updating the inventory I want it to clear</span>
        <div>
            <input name="data.flags.lootsheetnpc5e.clearInventory" type="checkbox" data-dtype="boolean" {{#if
                data.flags.lootsheetnpc5e.clearInventory}}checked{{/if}} />
            <i class="fas fa-info-circle help"></i>
            <div class="sheet-infobox hidden">
                ⚠️If the tokens actor is <em>not</em> a merchant you typically don't want to
                clear the inventory.
            </div>
        </div>

        <button type="button" class="update-inventory lsnpc-action-link" data-event-type="change" data-action="sheetUpdate"
            type="update-inventory" name="update-inventory" value="1"><i class="lsn lsn-glover"></i> Update</button>
</section>