<section class="ls-gm-section permissions">
    <h3 class="gm-header">
        <i class="ra ra-key"></i> {{localize 'lsnpc.infoboxes.permissions.title'}}
        <aside class="infobox-wrapper">
            <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
            <div class="sheet-infobox hidden">
                {{localize 'lsnpc.infoboxes.permissions.content'}}
            </div>
        </aside>
    </h3>
    <div class="permissiongrid">
        <main class="bulk">
            <h4>{{localize 'Bulk Update'}}</h4>
            <ul class="permissions-options">
                {{#each actor.flags.lootsheetnpc5e.permissions as |permission key|}}
                <li class="permission-option {{permission.title}}-border-permission">
                    <a data-value="{{key}}" title="{{permission.title}} : {{permission.description}}">
                        <i class="{{permission.class}}"></i>
                    </a>
                </li>
                {{/each}}
            </ul>
        </main>
        <main class="individual">
            <h4>
                {{localize 'lsnpc.infoboxes.permissions_individual.title'}}
                <aside class="infobox-wrapper">
                    <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                    <div class="sheet-infobox hidden">
                        {{localize 'lsnpc.infoboxes.permissions_individual.content'}}
                    </div>
                </aside>
            </h4>
            <ol class="permissions-list">
                {{#each actor.flags.lootsheetnpc5e.players as |player p|}}
                <li class="permission" data-skill="{{player.lootPermission}}">
                    <input type="hidden" name="{{player.playerId}}" value="{{player.lootPermission}}"
                        data-dtype="Number" actor="{{player.actorId}}" />
                    <a class="permission-proficiency"
                        title="{{player.actor}} ({{player.name}}):{{player.lootPermissionDescription}}"
                        data-player-id="{{player.playerId}}" data-player-permission="{{player.lootPermission}}">
                        <img class="permission-player {{player.borderClass}}-border-permission"
                            src="{{player.character.data.img}}" alt="{{player.actor}} ({{player.name}})">
                    </a>
                </li>
                {{/each}}
            </ol>
        </main>
        <aside class="filter flexrow {{#if data.flags.lootsheetnpc5e.permissionsFilter}}filter-active{{/if}}">
            <label title="{{data.flags.lootsheetnpc5e.permissionsFilter}}">
                <i class="fas fa-filter"></i> Filter eligable players
                <aside class="infobox-wrapper">
                    <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                    <div class="sheet-infobox hidden">
                        <p>Apply Filters to the players that have permissions to view the sheet.</p>
                        <p>These filters are applied when currency is shared.</p>
                        <p>In the future these filters can be applied when making a token lootable or bulk assigning permissions.</p>
                    </div>
            </label>
            <select name="data.flags.lootsheetnpc5e.permissionsFilter" class="permissions-filter">
                {{#select data.flags.lootsheetnpc5e.permissionsFilter}}
                    <option value="false">No Filter</option>
                    <option value="1">Characters of Players that view the scene.</option>
                    <option value="2">Characters of Players that have a token in the scene.</option>
                    <option value="3"> - " - view the scene & have a token active.</option>
                {{/select}}
            </select>
        </aside>
    </div>
</section>