<section class="ls-gm-section sheet-style">
    <div class="flexrow">
        <label>
            <i class="fas fa-adjust"></i> Light/Dark theme
            <aside class="infobox-wrapper">
                <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                <div class="sheet-infobox hidden">
                    <p>Enable light/dark mode for the sheet.</p>
                    <p>This will apply a dark/light mode to the sheet background. And a light/dark color to the text.</p>
                </div>
            </aside>
        </label>
        {{#select data.flags.lootsheetnpc5e.darkMode}}
            <select name="flags.lootsheetnpc5e.darkMode" class="{{#if this.token}} lsnpc-action-link{{/if}}"
                data-target="flags.lootsheetnpc5e.darkMode" data-event-type="change" data-action="sheetUpdate">
                <option value="false">Light</option>
                <option value="true">Dark</option>
            </select>
        {{/select}}
    </div>

    <div class="flexcol">
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <label for="flags.lootsheetnpc5e.sheettint.value">
                        <i class="fas fa-user-circle"></i> Sheet tint
                        <aside class="infobox-wrapper">
                            <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                            <div class="sheet-infobox hidden">
                                <p>Apply a color tint to the sheet.</p>
                                <p>The final color will depend on the chosen intensity and blendmode.</p>
                            </div>
                        </aside>
                    </label>
                    <input type="color" data-dtype="String" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.sheettint.value"
                        value="{{data.flags.lootsheetnpc5e.sheettint.value}}">
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <label>
                        Intensity
                        <aside class="infobox-wrapper">
                            <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                            <div class="sheet-infobox hidden">
                                <h4>Intensity</h4>
                                <p>The intensity/opacity of the color.</p>
                            </div>
                        </aside>
                    </label>
                    <input type="range" data-dtype="String" min="0" max="1" step="0.1" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.sheettint.alpha"
                        value="{{data.flags.lootsheetnpc5e.sheettint.alpha}}">
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <label>
                        <i class="far fa-user-circle"></i> Avatar tint
                        <aside class="infobox-wrapper">
                            <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                            <div class="sheet-infobox hidden">
                                <p>Apply a color tint to the sheet.</p>
                                <p>The final color will depend on the chosen intensity and blendmode.</p>
                            </div>
                        </aside>
                    </label>
                    <input type="color" data-dtype="String" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.avatartint.value"
                        value="{{data.flags.lootsheetnpc5e.avatartint.value}}">
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <label for="flags.lootsheetnpc5e.avatartint.alpha">
                        Intensity
                        <aside class="infobox-wrapper">
                            <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                            <div class="sheet-infobox hidden">
                                <h4>Intensity</h4>
                                <p>The intensity/opacity of the color.</p>
                            </div>
                        </aside>
                    </label>
                    <input type="range" data-dtype="String" min="0" max="1" step="0.1" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.avatartint.alpha"
                        value="{{data.flags.lootsheetnpc5e.avatartint.alpha}}">
                </div>
            </div>
        </div>
        <div class="flexrow">
            <label for="flags.lootsheetnpc5e.sheettint.style">
                <i class="fas fa-brush"></i> {{localize 'Background'}}
                <aside class="infobox-wrapper">
                    <i class="fas fa-info-circle help" data-theme="lsn-help"></i>
                    <div class="sheet-infobox hidden">
                        <p>Choose an existing style or a custom background for the sheet.</p>
                    </div>
                </aside>
            </label>
            {{#select data.flags.lootsheetnpc5e.sheettint.style}}
                <select name="flags.lootsheetnpc5e.sheettint.style">
                    <option value="">None</option>
                    <option value="custom">Custom Background</option>
                    <option value="squares">Squares</option>
                    <option value="circles">Cirlces</option>
                    <option value="polka">PolkaDots</option>
                    <option value="endless">Connections</option>
                    <option value="checks">Checks / Diamonds</option>
                    <option value="triangles">Triangles</option>
                    <option value="rose-petals">Rose Petal</option>
                    <option value="parchment">Parchment</option>
                </select>
            {{/select}}
        </div>
        {{#ifeq data.flags.lootsheetnpc5e.sheettint.style 'custom'}}
            <div class="flexrow custom-background-picker">
                <label for="flags.lootsheetnpc5e.custom.background">
                    <i class="fas fa-images"></i> Custom background image
                </label>
                <div class="flexrow">
                    <button type="button" class="file-picker" data-type="imagevideo"
                        data-target="flags.lootsheetnpc5e.custom.background" title="Browse Files" tabindex="-1">
                        <i class="fas fa-file-import fa-fw"></i>
                    </button>
                    <input class="image" type="text" name="flags.lootsheetnpc5e.custom.background"
                        placeholder="File Path" value="{{data.flags.lootsheetnpc5e.custom.background}}">
                </div>
            </div>
        {{/ifeq}}
        <div class="flexrow">
            <label>Blendmode</label>
            {{#select data.flags.lootsheetnpc5e.sheettint.blendmode}}
                <select name="flags.lootsheetnpc5e.sheettint.blendmode" data-event-type="change"
                    data-action="sheetUpdate">
                    <option value="difference">difference</option>
                    <option value="lighten">lighten</option>
                    <option value="darken">darken</option>
                    <option value="multiply">multiply</option>
                    <option value="screen">screen</option>
                    <option value="overlay">overlay</option>
                    <option value="soft-light">soft-light</option>
                    <option value="hard-light">hard-light</option>
                    <option value="color-dodge">color-dodge</option>
                    <option value="color-burn">color-burn</option>
                    <option value="exclusion">exclusion</option>
                    <option value="hue">hue</option>
                    <option value="saturation">saturation</option>
                    <option value="color">color</option>
                    <option value="luminosity">luminosity</option>
                </select>
            {{/select}}
        </div>
    </div>
</section>