<section class="currency-grid">
    <div class="currency-line flexrow">
        <ul class="currency-list">
            {{#each data.currency as |c i|}}
                <li class="coin currency-item coin-{{i}}" title="{{lookup (lookup ../config.currencies i) 'label'}}">
                    <input type="number" name="data.currency.{{i}}" value="{{c}}" data-dtype="number" step="1" />
                    <label>{{i}}</label>
                </li>
            {{/each}}
        </ul>
        {{> 'modules/lootsheetnpc5e/templates/partials/buttons/lootCurrency.hbs'}}

        {{#if isGM}}
            {{#ifeq lootsheettype "Merchant"}}
                <button type="button"
                    id="price-modifier"
                    class="price-modifier lsnpc-action-link button-xs"
                    name="price-modifier"
                    data-action="priceModifier"
                    value="{{actor.flags.lootsheetnpc5e.priceModifier}}">
                    <i class="fa fa-balance-scale"></i>
                    <span class="buttontext">{{localize 'lsnpc.buttons.merchant.gm.price.label'}}</span>
                </button>
            {{/ifeq}}
        {{/if}}
    </div>
    {{#ifeq lootsheettype "Loot"}}
        <div class="currency-split flexrow">
            <p class="splittext">
                {{localize 'lsnpc.buttons.loot.currency.split.title' n=observerCount}}.
                {{#if actor.flags.lootsheetnpc5e.permissionsFilter}}
                    <i class="fas fa-info-circle" data-tooltip-content="This is filtered, not all players are eligable per 'Filter eligable players' setting in the GM section of the sheet."></i>
                {{/if}}
                <br >Each gets a share of{{#each actor.flags.lootsheetnpc5e.currency as |c i|}}{{#uneq c 0}} <em>{{c}} {{i}}</em>{{/uneq}}{{/each}}.
            </p>
            {{> 'modules/lootsheetnpc5e/templates/partials/buttons/splitCurrency.hbs'}}
        </div>
    {{/ifeq}}
</section>