<fieldset class="row" data-id="new_rule_form">
    <legend>Add new rule</legend>
    <main>
        <div class="flexrow">
            <div class="form-group flexrow">
                <input type="hidden" name="{{this.module}}.{{this.key}}.uuid">
                <label>Rulename</label>
                <input type="text" name="{{this.module}}.{{this.key}}.name" placeholder="name">
            </div>
            <fieldset>
                <legend>Filters</legend>
                <main>
                    <div class="actions" style="float: right;">
                        <button type="button" data-action="add" data-settings-key="{{this.key}}" style="float:right;"><i
                                class="fas fa-plus" style="pointer-events: none;"></i></button>
                    </div>

                    {{> "modules/lootsheetnpc5e/templates/partials/settings/filters.hbs" module=this.module key=this.key index=0}}
                </main>
            </fieldset>
        </div>
        <div class="flexrow">
            <div class="form-group flexrow">
                <label>{{#localize 'Rolltable'}}</label>
                <select name="{{this.module}}.{{this.key}}.rolltable">
                    <option value="null"><em>Select rolltable</em></option>
                    {{> "modules/lootsheetnpc5e/templates/partials/settings/dropdown_options.hbs" data=this.data}}
                </select>
            </div>
            <div class="form-group">
                {{#if @root.data.hasBetterRolltables}}
                <em>and / or </em>
                <input type="text"
                    name="{{this.module}}.{{this.key}}.tags"
                    placeholder="comma seperated better-rolltable tags">
                {{/if}}
            </div>
        </div>
    </main>
</fieldset>