<section class="ls-gm-section sheet-types">
    <div class="flexcol">
        <div class="flexrow">
            <div class="flexcol">
                {{log '--- data and flags ---'}}
                {{log data}}
                <div class="flexrow">
                    <label>Sheet tint</label>
                    <input type="color" data-dtype="String" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.sheettint.value"
                        value="{{data.flags.lootsheetnpc5e.sheettint.value}}">
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <label><small>Intensity</small></label>
                    <input type="range" data-dtype="String" min="0" max="1" step="0.1" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.sheettint.alpha"
                        value="{{data.flags.lootsheetnpc5e.sheettint.alpha}}">
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <label>Avatar tint</label>
                    <input type="color" data-dtype="String" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.avatartint.value"
                        value="{{data.flags.lootsheetnpc5e.avatartint.value}}">
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <label><small>Intensity</small></label>
                    <input type="range" data-dtype="String" min="0" max="1" step="0.1" class="avatar-tint-picker"
                        name="flags.lootsheetnpc5e.avatartint.alpha"
                        value="{{data.flags.lootsheetnpc5e.avatartint.alpha}}">
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexcol">
                {{#select data.flags.lootsheetnpc5e.sheettint.style}}
                    <select name="flags.lootsheetnpc5e.sheettint.style">
                        <option value="">None</option>
                        <option value="squares">squares</option>
                        <option value="circles">Cirlces</option>
                        <option value="polka">PolkaDots</option>
                        <option value="endless">Endless</option>
                        <option value="stripes">Stripes</option>
                        <option value="triangles">Stripes</option>
                        <option value="rose-petals">Rose Petals</option>
                    </select>
                {{/select}}
            </div>
            <div class="flexcol">
                {{#select data.flags.lootsheetnpc5e.sheettint.blendmode}}
                    <select name="flags.lootsheetnpc5e.sheettint.blendmode">
                        <option value="difference">difference</option>
                        <option value="lighten">lighten</option>
                        <option value="darken">darken</option>
                        <option value="multiply">multiply</option>
                        <option value="screen">screen</option>
                        <option value="overlay">overlay</option>
                        <option value="soft-light">soft-light</option>
                        <option value="hard-light">hard-light</option>
                        <option value="color-dodge">color-dodge</option>
                        <option value="color-burn">color-burn</option>
                        <option value="exclusion">exclusion</option>
                        <option value="hue">hue</option>
                        <option value="saturation">saturation</option>
                        <option value="color">color</option>
                        <option value="luminosity">luminosity</option>
                    </select>
                {{/select}}
            </div>
        </div>
    </div>
</section>