<nav class="sheet-navigation tabs flexrow" data-group="primary">
    {{#if isGM}}
        <a class="item" data-tab="gm-settings"><i class="fas fa-cog" title="{{localize " GM"}}"></i></a>
    {{/if}}
    <a class="item active" data-tab="inventory">{{localize "DND5E.Inventory"}}</a>

    {{#if isToken}}
        <a class="item" data-tab="trade">
            <i class="lsn trade"></i>
            {{#ifeq lootsheettype "Merchant"}}{{localize "Trade"}}{{else}}{{localize "Loot"}}{{/ifeq}}
        </a>
    {{/if}}
    
    {{#if isGM}}
        <a class="item" data-tab="actions">{{localize "DND5E.ActionPl"}}</a>
    {{/if}}
    <a class="item" data-tab="biography">{{localize "DND5E.Biography"}}</a>
</nav>