<form
    class="{{cssClass}} sheetgrid {{#if data.flags.lootsheetnpc5e.sheettint.style}}styled {{data.flags.lootsheetnpc5e.sheettint.style}}{{/if}}"
    autocomplete="off" data-sheettint-value="{{data.flags.lootsheetnpc5e.sheettint.value}}"
    data-sheettint-alpha="{{data.flags.lootsheetnpc5e.sheettint.alpha}}" {{#if
    data.flags.lootsheetnpc5e.sheettint.value}}
    style="
    --sheettint: {{hexToRGB data.flags.lootsheetnpc5e.sheettint.value data.flags.lootsheetnpc5e.sheettint.alpha}};
    --avatartint: {{hexToRGB data.flags.lootsheetnpc5e.avatartint.value data.flags.lootsheetnpc5e.avatartint.alpha}};
    --blendmode: {{data.flags.lootsheetnpc5e.sheettint.blendmode}};
    --style: {{data.flags.lootsheetnpc5e.sheettint.style}};"
    {{/if}}>
    <!-- <section class="sheet-upper"> -->

    <!-- HEADER -->
    {{> "modules/lootsheetnpc5e/templates/partials/header.hbs"}}

    <!-- BODY -->
    {{> "modules/lootsheetnpc5e/templates/partials/body.hbs"}}

    <!-- FOOTER -->
    {{> "modules/lootsheetnpc5e/templates/partials/footer.hbs"}}
</form>