<form class="lsn-dialog-form {{flags.lootsheetnpc5e.sheettint.style}}">
    <main>
        <div class="flexrow">
            <div class="form-input">
                <input id="priceModifierDisplay"
                    type="number" name="price-modifier-display" min="0"
                    max="{{this.maxModifier}}" step="1" value="{{this.currentModifier}}"
                    oninput="priceModifierPercent.value=priceModifierDisplay.value"
                    style="width: 100px; border-radius: 0.5em; border: 1px solid black; text-align: center; padding: 0.5em; color: #eee; background-color: #333;"
                    required>
            </div>
        </div>
        <div class="flexrow">
            <input class="form-control"
                name="priceModifierPercent" id="priceModifierPercent" type="range" min="0"
                oninput="priceModifierDisplay.value=priceModifierPercent.value"
                max="{{this.maxModifier}}" step="1" value="{{this.currentModifier}}" class="slider" required>
        </div>
    </main>
    <footer class="flexrow">
        <button type="submit" name="submit" class="btn btn-primary">{{localize 'Update'}}</button>
        <button type="button" name="reset" lass="btn btn-secondary" data-dismiss="modal">{{localize 'Cancel'}}</button>
    </footer>
</form>