<!--- This is shitty, we should do a more propper check --->
<header>
    <h3>Filterrules</h3>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Name</th>
                <th>Filters</th>
                <th>Rolltable</th>
                <th>Tags</th>
                <th>
                    <button type="button" class="lsn-action-button" data-action="new" title="{{localize " New"}}">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#if this.value}}
                {{#each this.value as |customRule uniquekey|}}
                    <tr data-name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}">
                        <td class="actions" data-name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}.state">
                            <input type="checkbox"
                                class="rulestate-{{#if customRule.state}}active{{else}}inactive{{/if}}" type="checkbox"
                                name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}.state"
                                value="{{#if customRule.state}}{{customRule.state}}{{else}}false{{/if}}"
                                data-update-setting="true">
                        </td>
                        <th data-name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}.name">{{customRule.name}}
                        </th>
                        <td data-name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}.filters">
                            <table>
                                {{#each customRule.filters as |filter index|}}
                                    <tr>
                                        <td
                                            data-name="{{../this.namespace}}.{{../this.key}}.{{../uniquekey}}.filters.{{index}}.filterpath">
                                            {{filter.filterpath}}
                                        </td>
                                        <td
                                            data-name="{{../this.namespace}}.{{../this.key}}.{{../key}}.filters.{{index}}.comparison">
                                            {{filter.comparison}}
                                        </td>
                                        <td
                                            data-name="{{../this.namespace}}.{{../this.key}}.{{../key}}.filters.{{index}}.value">
                                            {{filter.value}}
                                        </td>
                                    </tr>
                                {{/each}}
                            </table>
                        </td>
                        <td data-name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}.rolltable"
                            data-entity-id="{{customRule.rolltable}}">
                            <em class="lsnpc-document-link" data-uuid="{{customRule.rolltable}}">
                                {{#if customRule.rolltableName}}
                                    {{truncate customRule.rolltableName 25}}
                                {{else}}
                                    {{#if customRule.rolltable}}
                                        {{truncate customRule.rolltable 25}}
                                    {{/if}}
                                {{/if}}
                            </em>
                        </td>
                        <td data-name="{{../this.namespace}}.{{../this.key}}.{{uniquekey}}.tags">
                            {{#if customRule.tags}}
                                {{customRule.tags}}
                            {{/if}}
                        </td>
                        <td class="actions">
                            <button class="lsn-action-button" data-action="edit" data-update-setting="true"
                                title="edit"><i class="fas fa-pencil-alt"></i></button>
                            <button class="lsn-action-button" data-action="delete" data-update-setting="true"
                                title="delete"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</main>