<ul class="currency flexrow">
    {{#each data.currency as |c i|}}
        <li class="coin currency-item coin-{{i}}" title="{{lookup (lookup ../config.currencies i) 'label'}}">
            <input type="number" name="data.currency.{{i}}" value="{{c}}" data-dtype="number" step="1"/>
        </li>
    {{/each}}
</ul>
<ul class="currency flexrow">
    {{#each actor.flags.lootsheetnpc5e.currency as |c i|}}
        <li class="denomination {{i}}">
            <aside class="denomination-value">
                <em>{{c}} each</em>
            </aside>
        </li>
    {{/each}}
</ul>